<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionStringSQLite" value=""/>
    <add key="DbServerIp" value="10.10.10.25"/>
    <add key="TcpSSPort" value="1102"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
