<?xml version="1.0" encoding="utf-8" ?>
<!-- 表与视图对应关系 -->
<configuration>
  <appSettings>
    <!--<EVDB>-->
    <add key="evdb_gff" value="evdb_gff_view"/>
    <add key="geodb" value="geodb_view"/>
    <add key="geospace_products" value="geospace_products_view"/>
    <add key="geospace_quanji" value="geospace_quanji_view"/>
    <add key="geospace_raster" value="geospace_raster_view"/>
    <add key="geospace_vector" value="geospace_vector_view"/>
    <add key="glassdb_metadata" value="glassdb_metadata_view"/>
    <add key="prod_cbers" value="prod_cbers_view"/>
    <add key="prod_hj" value="prod_hj_view"/>
    <add key="prod_modis" value="prod_modis_view"/>
    <add key="prod_noaa" value="prod_noaa_view"/>
    <add key="prod_zy3" value="prod_zy3_view"/>
    <add key="prod_gf1" value="prod_gf1_view"/>
    <add key="prod_zy02c" value="prod_zy02c_view"/>
    <add key="prods_raster" value="evdb_raster_view"/>
    <add key="imageprod" value="imageprod_view"/>
    <add key="prod_gf3" value="prod_gf3_view"/>
    <!--</EVDB>
    <BSDB>-->
    <add key="areainfo" value="areainfo_view"/>
    <add key="prod_national30dem" value="prod_national30dem_view"/>
    <add key="prod_nationaltm" value="prod_nationaltm"/>
    <add key="prods_vector" value="prods_vector_view"/>
    <!--</BSDB>
    <IPDB>-->
    <add key="ipdb_userproduct" value="ipdb_userproduct_view"/>
    <!--</IPDB>
    <ISDB>-->
    <add key="isdb_alogrithmpara" value="isdb_alogrithmpara_view"/>
    <add key="isdb_document" value="isdb_document_isdb_publicinfo_view"/>
    <add key="isdb_parautility" value="isdb_parautility_view"/>
    <add key="isdb_publicinfo" value="isdb_publicinfo_view"/>
    <add key="isdb_toolkit" value="isdb_toolkit_isdb_publicinfo_view"/>
    <add key="isdb_useralgorithm" value="isdb_useralgorithm_isdb_publicinfo_view"/>
    <add key="isdb_userevaluation" value="isdb_userevaluation_view"/>
    <add key="isdb_userprod_hj" value="isdb_userprod_hj_view"/>
    <add key="isdb_userraster" value="isdb_userraster_isdb_publicinfo_view"/>
    <add key="prod_gf1" value="prod_gf1_view"/>
    <!--</ISDB>
    <MADB>-->
    <add key="madb_algorithmcmp" value="madb_algorithmcmp_view"/>
    <add key="madb_algorithmpara" value="madb_algorithmpara_view"/>
    <add key="madb_document" value="madb_document_view"/>
    <add key="madb_parautility" value="madb_parautility_view"/>
    <add key="madb_proworkflow" value="madb_proworkflow_view"/>
    <add key="madb_toolkit" value="madb_toolkit_view"/>
    <add key="madb_wflrelation" value="madb_wflrelation_view"/>
    <add key="madb_wflutility" value="madb_wflutility_view"/>
    <add key="mould_doc" value="mould_doc_view"/>
    <add key="prod_normalfiles" value="prod_normalfiles_view"/>
    <!--</MADB>-->
    <!--<MIDB>-->
    <!--</MIDB>-->
    <!--<RCDB>-->
    <!--</RCDB>-->

    <!--<XJTable>-->
    <add key="xj_nf_dem" value="xj_nf_dem_view"/>
    <add key="xj_nf_dmsc" value="xj_nf_dmsc_view"/>
    <add key="xj_nf_xdyz" value="xj_nf_xdyz_view"/>
    <add key="xj_nf_prod_cd" value="xj_nf_prod_cd_view"/>
    <add key="xj_nf_prod_jx" value="xj_nf_prod_jx_view"/>
    <add key="xj_nf_prod_szy" value="xj_nf_prod_szy_view"/>
    <add key="xj_nf_prod_aqyj" value="xj_nf_prod_aqyj_view"/>
    <add key="xj_nf_prod_qt" value="xj_nf_prod_qt_view"/>
    <add key="xj_nf_prod_slzy" value="xj_nf_prod_slzy_view"/>
    <add key="xj_nf_Systems" value="xj_nf_Systems_view"/>
    <add key="xj_nf_module_cd" value="xj_nf_module_cd_view"/>
    <add key="xj_nf_module_jx" value="xj_nf_module_jx_view"/>
    <add key="xj_nf_module_szy" value="xj_nf_module_szy_view"/>
    <add key="xj_nf_module_aqyj" value="xj_nf_module_aqyj_view"/>
    <add key="xj_nf_module_qt" value="xj_nf_module_qt_view"/>
    <add key="xj_nf_module_slzy" value="xj_nf_module_slzy_view"/>
    <!--</XJTable>-->


    <!--配置栅格数据的查询字段-->
    <!--时间字段-->
    <add key="RASTER.STARTTIME" value="STARTDATE:SCENEDATE:BEGINDATE:开始时间"/>
    <add key="RASTER.ENDTIME" value="STOPDATE:ENDDATE:结束时间"/>

    <!--入库时间字段-->
    <add key="RASTER.IMPORTSTARTTIME" value="IMPORTSTARTDATE:IMPORTSCENEDATE:IMPORTBEGINDATE:入库时间"/>
    <add key="RASTER.IMPORTENDTIME" value="IMPORTSTOPDATE:IMPORTENDDATE:入库时间"/>
    <!--空间字段-->
    <add key="RASTER.DATAUPPERLEFTLAT" value="DATAUPPERLEFTLAT:左上纬度"/>
    <add key="RASTER.DATAUPPERLEFTLONG" value="DATAUPPERLEFTLONG:左上经度"/>
    <add key="RASTER.DATAUPPERRIGHTLAT" value="DATAUPPERRIGHTLAT:右上纬度"/>
    <add key="RASTER.DATAUPPERRIGHTLONG" value="DATAUPPERRIGHTLONG:右上经度"/>
    <add key="RASTER.DATALOWERRIGHTLAT" value="DATALOWERRIGHTLAT:右下纬度"/>
    <add key="RASTER.DATALOWERRIGHTLONG" value="DATALOWERRIGHTLONG:右下经度"/>
    <add key="RASTER.DATALOWERLEFTLAT" value="DATALOWERLEFTLAT:左下纬度"/>
    <add key="RASTER.DATALOWERLEFTLONG" value="DATALOWERLEFTLONG:左下经度"/>
    <!--传感器字段、卫星字段-->
    <add key="RASTER.SENSOR" value="SENSOR:传感器"/>
    <add key="RASTER.SATELLITE" value="SATELLITE:卫星"/>
    <add key="RASTER.IMAGEGSD" value="IMAGEGSD:分辨率"/>
    <!-- 产品字段-->
    <add key="RASTER.IMAGEPRODTYPE" value="ProdType:产品类型"/>
    <!--关键字字段-->
    <add key="RASTER.KEYWORDS" value="MAPPROJECTION"/>

    <!--配置矢量数据的查询字段-->
    <!--时间字段-->
    <add key="VECTOR.PRODUCEDATE" value="PRODUCEDATE"/>
    <!--空间字段-->
    <add key="VECTOR.EXTENTUP" value="EXTENTUP:数据范围上"/>
    <add key="VECTOR.EXTENTDOWN" value="EXTENTDOWN:数据范围下"/>
    <add key="VECTOR.EXTENTLEFT" value="EXTENTLEFT:数据范围左"/>
    <add key="VECTOR.EXTENTRIGHT" value="EXTENTRIGHT:数据范围右"/>
    <!--关键字字段-->
    <add key="VECTOR.KEYWORDS" value="METANAME,PRODUCTNAME,PRODUCEORG"/>

    <!--配置文档数据的查询字段-->
    <!--文件名字段-->
    <add key="DOC.NAME" value="TITTLE:文档名称"/>
    <!--时间字段-->
    <add key="DOC.TIME" value="DOCDATE:文档日期"/>
    <!--全局关键字字段-->
    <add key="DOC.GLOBALKEYWORDS" value="KEYWORD:ID:TITLE:文档名称:DOCTYPE:文档类型:KEYWORD:关键词:ABSTRACT:摘要:DESCRIPTION:备注说明:AUTHOR:作者:UPLOADER:上传者:QRST_CODE:数据编码"/>

    <!--配置一般文件的查询字段-->
    <!--时间字段-->
    <add key="NORMALFILE.TIME" value="LastModifyDatetime:最后修改日期"/>
    <!--全局关键字字段-->
    <add key="NORMALFILE.GLOBALKEYWORDS" value="KEYWORD:ID:TITLE:文档名称:文件名称:DOCTYPE:文档类型:KEYWORD:关键词:ABSTRACT:摘要:DESCRIPTION:备注说明:AUTHOR:作者:UPLOADER:上传者:QRST_CODE:数据编码"/>

    <!--一些公共字段-->
    <!--数据ID-->
    <add key="QRST_CODE" value="QRST_CODE:qrst_code:数据编码:qrstcode"/>
    <!--缩略图-->
    <add key="THUMBNAIL" value="缩略图:purl:缩略图地址"/>
  </appSettings>
</configuration>
