<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.DirectX.Direct3DX" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.2911.0" newVersion="1.0.2911.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="DEM_Url" connectionString="http://192.168.0.2/Tileset.aspx" />
    <add name="DEM_Dataset" connectionString="SRTM" />
    <add name="DEM_North" connectionString="60" />
    <add name="DEM_South" connectionString="0" />
    <add name="DEM_West" connectionString="70" />
    <add name="DEM_East" connectionString="140" />
    <add name="DEM_LayerName" connectionString="Digital DEM" />
    <add name="DEM_levelZeroTileSizeDegrees" connectionString="20.0" />
    <add name="DEM_numberLevels" connectionString="9" />

    <add name="BlueMarble_Url" connectionString="http://192.168.0.2/Tileset.aspx" />
    <add name="BlueMarble_Dataset" connectionString="bmng.topo.bathy.200412" />
    <add name="BlueMarble_North" connectionString="90" />
    <add name="BlueMarble_South" connectionString="-90" />
    <add name="BlueMarble_West" connectionString="-180" />
    <add name="BlueMarble_East" connectionString="180" />
    <add name="BlueMarble_LayerName" connectionString="世界地图" />
    <add name="BlueMarble_levelZeroTileSizeDegrees" connectionString="36.0" />
    <add name="BlueMarble_numberLevels" connectionString="5" />

    <add name="CacheUpperLimit" connectionString="10" />
    <add name="CacheLowerLimit" connectionString="7" />
  </connectionStrings>
</configuration>
