<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!-- 数据库连接字符串(MySQL版) -->
    <add key="ConnectionStringMySql" value="server = 192.168.1.101; user id = HJDATABASE_ADMIN; password = dbadmin_2011; charset = utf8; database = qrst_db" />
    <!-- 综合数据库连接字符串(MySQL版) -->
    <add key="ConnectionMIDBStringMySql" value="server =192.168.1.101; user id = HJDATABASE_ADMIN; password = dbadmin_2011; charset = utf8; database = midb" />
    <!-- zsm(MySQL版) -->
    <add key="ConnectionStringMySqlEVDB" value="server =192.168.1.101; user id = HJDATABASE_ADMIN; password = dbadmin_2011; charset = utf8; database = evdb" />
    <add key="ConnectionStringEVDB" value="server =192.168.1.101; user id = HJDATABASE_ADMIN; password = dbadmin_2011; charset = utf8; database = evdb" />
   
    <!--<add key="MessageCentorIP" value="192.168.10.30"/>
    <add key="MessageCentorPort" value="5189"/>-->
    <add key="SystemName" value="综合数据库" />
    <add key="IfSendMessage" value="true" />
    <!-- 内外环境（新疆），标识是否要求瓦片导出到外网 -->
    <add key="NeedOutput" value="false" />
    <!-- 如果NeedOutput为true，设置导出的本地路径 -->
    <add key="OutputTilePath" value="D:\瓦片处理成果\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SubmitOrderSoap" />
        <binding name="ServiceSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SubmitOrderSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.101/WS_QDB_SubmitOrder/Service.asmx" binding="basicHttpBinding" bindingConfiguration="SubmitOrderSoap" contract="WS_QDB_SubmitOrder.SubmitOrderSoap" name="SubmitOrderSoap" />
      <endpoint address="http://192.168.1.101/WS_QDB_Searcher_Sqlite/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="WS_QDB_Searcher_Sqlite.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>