<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="ConnectionStringMySql" value="server =192.168.10.190;port = 3306; user id = HJDATABASE_ADMIN; password = dbadmin_2011; charset = utf8; database = midb" />

  </appSettings>
</configuration>
