<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- 数据库连接字符串(MySQL版) -->
   
    <add key="ConnectionStringMySql" value="server = 192.168.10.19; user id = HJDATABASE_ADMIN; password = dbadmin_2011; charset = utf8; database = midb"/>
    <!--zsm 20161022-->
    <add key="ConnectionStringEVDB" value="server = 192.168.10.202; user id = HJDATABASE_ADMIN; password = dbadmin_2011; charset = utf8; database = evdb"/>

  </appSettings>
</configuration>
